<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Safehouse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        #safehouse {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">
            Love you sweet Savi
        </h1>
        <img class="img-fluid" id="safehouse" src="static/safehouse.jpg">
        <!-- <img class="img-fluid" id="safehouse" src="static/safe-house.png"> -->
        <h2 class="text-center mt-2 mb-4">About {{company_name}}</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Leo urna molestie at elementum eu facilisis sed. In dictum non consectetur a erat nam at
            lectus
            urna. Risus nullam eget felis eget nunc lobortis. Id interdum velit laoreet id donec ultrices. Est sit amet
            facilisis magna etiam tempor orci. In eu mi bibendum neque egestas. Urna et pharetra pharetra massa. Quis
            imperdiet massa tincidunt nunc pulvinar. Sit amet nulla facilisi morbi tempus iaculis urna id.

        </p>

        <p class="lead">

            Facilisi nullam vehicula ipsum a arcu. Nunc sed augue lacus viverra vitae congue eu. Sed augue lacus viverra
            vitae congue eu consequat. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Enim
            praesent
            elementum facilisis leo. Pharetra pharetra massa massa ultricies mi quis. Quisque non tellus orci ac auctor
            augue mauris. Nulla facilisi nullam vehicula ipsum a. Ante in nibh mauris cursus mattis. Habitant morbi
            tristique senectus et netus et malesuada. Aliquam faucibus purus in massa. Mauris in aliquam sem fringilla
            ut
            morbi tincidunt. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Pretium nibh ipsum
            consequat
            nisl vel pretium lectus. Quis imperdiet massa tincidunt nunc pulvinar sapien.
        </p>
        <h2 class="text-center mt-2 mb-4"> Open Positions </h2>
        <!-- <div>
            {% for job in jobs %}
            <div>{{job['title']}}</div>
            {% endfor %}
        </div> -->
        <div>
            {% for job in jobs %}
            {% include 'jobs.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg"> Contact Us </button>
            <p> Copyright 2023, Safe House Inc</p>
        </div>
    </div>
</body>

</html>